In [4]:
#Import dependencis 
import pandas as pd
import matplotlib as plt
import sqlalchemy
#from sqlalchemy.ext.automap import automap_base
#from sqlalchemy.orm import Session
from sqlalchemy import create_engine, func
import psycopg2

In [5]:
#create SQL Engine
user = "postgres"
pw = "postgres"
engine = create_engine(f"postgresql://{user}:{pw}@localhost:5432/Pewlett_Hackard")
conn = engine.connect()

In [6]:
sql = "SELECT * FROM employees;"

data = conn.execute(sql)

emp_data = pd.read_sql(sql,conn)

emp_df = pd.DataFrame(emp_data)

emp_df.head(10)

   emp_no  birth_date first_name  last_name gender   hire_date
0   10001  1953-09-02     Georgi    Facello      M  1986-06-26
1   10002  1964-06-02    Bezalel     Simmel      F  1985-11-21
2   10003  1959-12-03      Parto    Bamford      M  1986-08-28
3   10004  1954-05-01  Chirstian    Koblick      M  1986-12-01
4   10005  1955-01-21    Kyoichi   Maliniak      M  1989-09-12
5   10006  1953-04-20     Anneke    Preusig      F  1989-06-02
6   10007  1957-05-23    Tzvetan  Zielinski      F  1989-02-10
7   10008  1958-02-19     Saniya   Kalloufi      M  1994-09-15
8   10009  1952-04-19     Sumant       Peac      F  1985-02-18
9   10010  1963-06-01  Duangkaew   Piveteau      F  1989-08-24